<% content_for :title, "Editing anniket" %>

<h1>Editing anniket</h1>

<%= render "form", anniket: @anniket %>

<br>

<div>
  <%= link_to "Show this anniket", @anniket %> |
  <%= link_to "Back to annikets", annikets_path %>
</div>
